.container {
    display: grid;
    background-color: #FAEDCD;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Goals About-us Comunity";
}

.Goals {
    grid-area: Goals;
}

.About-us {
    grid-area: About-us;
}

.Comunity {
    grid-area: Comunity;
}

.goal-smar {
    background-color: bisque;
    border: 1px;
}
